<div class="wrapper clip">
  <div style="background: url(https://i.imgur.com/6VvV1L3.jpg) no-repeat fixed; background-size: 100%;" class="header-image">
    <div class="header-text title">
      <div class="rotate">
        FORTNITE BR GUIDE
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <% @recent_posts.each do |post| %>
          <div class="content-container">
            <div class="one-column">
              <%= link_to(category_post_path(post.category.slug, post)) do %>
                <img class="thumbnail-image image-clip" srcset="<%= post.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="padding-horizontal">
                <%= link_to post.category.title, category_path(post.category), class: "tiny-text" %>
              </div>
              <div class="post-list-title padding-horizontal">
                <%= link_to post.title, category_post_path(post.category.slug, post) %>
              </div>
              <div class="description-text">
                <%= post.description %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "Read More...", category_post_path(post.category.slug, post), class: "submit-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="content-container padding-vertical center">
          <div class="padding-horizontal">
            <%= link_to "View All Posts", posts_path %>
          </div>
        </div>
        
      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>