<div class="container">

  <p class="post-title center"><%= link_to @post.title, category_post_url(@post.category, @post) %></p>

  <img src="<%= @post.image %>" width="100%" height="auto" />

  <p><%= @post.description %></p>

  <%= link_to "Read more!", category_post_url(@post.category, @post), class: "submit-button" %>

</div>

<div class="padding-top">
  <p class="tiny-text center"><%= link_to "Unsubscribe", unsubscribe_email_url(@email) %></p>
  <p class="tiny-text center">Not associated with Epic Games, Inc.</p>
  <p class="tiny-text center">Fortnite BR Guide. 769 Columbus Pkwy, Buffalo, NY 14213</p>
</div>