<div class="container">
  <div class="content-container">

    <img src="<%= @post.image %>" width="100%" height="auto" />

    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom">
        <div class="post-title"><%= link_to @post.title, category_post_url(@post.category, @post) %></div>
      </div>

      <div class="padding-vertical">
        <div><%= @post.description %></div>

        <%= link_to "Read more!", category_post_url(@post.category, @post), class: "submit-button" %>
      </div>
    </div>

  </div>
</div>

<div class="padding-top">
  <div class="tiny-text center"><%= link_to "Unsubscribe", unsubscribe_email_url(@email) %></div>
  <div class="tiny-text center">Not associated with Epic Games, Inc.</div>
  <div class="tiny-text center">Fortnite BR Guide. 769 Columbus Pkwy, Buffalo, NY 14213</div>
</div>