Stay out of the storm! 
<div class="tiny-text">(One email per new post, no spam, and it's free!)</div>

<div class="one-space-top">
  <%= form_for(Email.new, url: emails_path, remote: true) do |f| %>
    <span class="email_errors"><%= render 'partials/errors/email_errors' %></span>
    <div>
      <%= f.email_field :email, placeholder: "Enter your email", class: "text-field-white" %>
    </div>
    <div class="one-space-top">
      <%= f.check_box :daily %>
      <%= f.label :daily, "Daily emails, too, please!" %>
    </div>
    <div class="one-space-top">
      <%= f.submit "SIGN UP!", class: "submit-button" %>
    </div>
  <% end %>
</div>