<aside class="no-mobile sidebar">

  <div class="side-nav">
    <div class="margin-fix">
      <div class="padding-horizontal">
        <div class="padding-vertical border-bottom post-list-title">
          <%= link_to "FORTNITE BR GUIDE", root_url, class: "submit-button" %>
        </div>

        <div class="padding-vertical">
          <span class="email_form"><%= render 'partials/emails/email_form' %></span>
        </div>

      </div>
    </div>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom title post-list-title">
        <%= link_to "RECENT POSTS", posts_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @recent_posts.each do |post| %>
        <li><%= link_to post.title, category_post_path(post.category, post) %></li>
      <% end %>
    </ul>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom title post-list-title">
        <%= link_to "CATEGORIES", categories_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.title, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

  <div class="side-nav">
    <%= render 'partials/ad_trash' %>
  </div>

</aside>