<aside class="sidebar">

  <div class="side-nav">
    <div class="margin-fix">
      <div class="padding-horizontal">
        <div class="padding-vertical border-bottom">
          <%= link_to "Fortnite BR Guide", root_url, class: "submit-button" %>
        </div>
        

        <div class="padding-vertical">

          <span class="email_form"><%= render 'partials/emails/email_form' %></span>

        </div>


      </div>
    </div>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom">
        <%= link_to "Recent Posts", posts_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @recent_posts.each do |post| %>
        <li><%= link_to post.title, category_post_path(post.category, post) %></li>
      <% end %>
    </ul>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom">
        <%= link_to "Categories", categories_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.title, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

</aside>