<aside class="sidebar">

  <div class="side-nav">
    <div class="margin-fix">
      <div class="padding-horizontal">
        <div class="padding-vertical border-bottom">
          <%= link_to "Fortnite BR Guide", root_url, class: "black-link" %>
        </div>
        

        <div class="padding-vertical">
          Get notified by email!
          <div class="one-space-top">
            <%= form_for(Email.new, url: emails_path) do |f| %>
              <div>
                <%= f.email_field :email, placeholder: "Enter your email", class: "text-field-white" %>
              </div>
              <div class="one-space-top flex">
                <div class="two-column">
                  <%= f.check_box :daily %>
                  <%= f.label :daily %>
                </div>
                <div class="two-column">
                  <%= f.check_box :article %>
                  <%= f.label :article, "Per Article" %>
                </div>
              </div>
              <div class="one-space-top">
                <%= f.submit "Sign up", class: "submit-button" %>
              </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom">
        <%= link_to "Recent Posts", posts_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @recent_posts.each do |post| %>
        <li><%= link_to post.title, category_post_path(post.category, post) %></li>
      <% end %>
    </ul>
  </div>

  <div class="side-nav">
    <div class="padding-horizontal">
      <div class="padding-vertical border-bottom">
        <%= link_to "Categories", categories_path, class: "black-link" %>
      </div>
    </div>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.title, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

</aside>