<%= provide(:title, "Edit " + sanitize(@post.title)) %>

<div class="post-title five-space center">
  Edit <%= @post.title %>
</div>

<div class="form-container">
  <%= form_for(@post, url: category_post_path) do |f| %>
    <%= render 'partials/post_errors' %>
    <div class="field">
      <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
    </div>
    <div class="field">
      <%= f.text_field :image, placeholder: "Image", class: "text-field" %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "Description", class: "text-area" %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Content", class: "text-area" %>
    </div>
    <div class="actions">
      <%= f.submit "Edit Post", class: "submit-button" %>
    </div>
  <% end %>
</div>