<%= provide(:title, "Recent Posts") %>

<div class="no-mobile wrapper clip">
  <div style="background: url(https://i.imgur.com/6VvV1L3.jpg) no-repeat fixed; background-size: 100%;" class="header-image">
    <div class="header-text title">
      <div class="rotate">
        RECENT POSTS
      </div>
    </div>
  </div>
</div>

<div class="mobile-only">
  <div class="wrapper">
    <div class="container">
      <div class="site-title title center">
        <%= link_to "FORTNITE BR GUIDE", root_url %>
      </div>
      <div id="menu-click" class="one-space-top center title">
        Menu
      </div>
    </div>
    <img class="one-space-top image-clip" srcset="https://i.imgur.com/6VvV1L3.jpg" width="100%" height="auto">
    <div class="container">
      <div class="two-space-top post-title title center">
        RECENT POSTS
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <% @posts.each do |post| %>
          <div class="content-container">
            <div class="one-column">
              <%= link_to(category_post_path(post.category, post)) do %>
                <img class="thumbnail-image" srcset="<%= post.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="padding-horizontal">
                <%= link_to post.title, category_post_path(post.category, post), class: "tiny-text" %>
              </div>
              <div class="post-list-title padding-horizontal">
                <%= link_to post.title, category_post_path(post.category, post) %>
              </div>
              <div class="description-text">
                <%= post.description %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "READ MORE...", category_post_path(post.category, post), class: "submit-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="content-container padding-vertical center">
          <div class="padding-horizontal">
            <%= paginate @posts %>
          </div>
        </div>

      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>