<%= provide(:title, "Categories") %>

<div class="wrapper">
  <div style="background: url(https://i.imgur.com/6VvV1L3.jpg) no-repeat fixed; background-size: 100%;" class="header-image">
    <div class="header-text">
      Recent Posts
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <% @posts.each do |post| %>
          <div class="content-container">
            <div class="one-column">
              <%= link_to(category_post_path(post.category, post)) do %>
                <img class="thumbnail-image" srcset="<%= post.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="padding-horizontal">
                <%= link_to post.title, category_post_path(post.category, post), class: "tiny-text" %>
              </div>
              <div class="post-list-title padding-horizontal">
                <%= link_to post.title, category_post_path(post.category, post) %>
              </div>
              <div class="description-text">
                <%= post.description %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "See Posts...", category_post_path(post.category, post), class: "submit-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>