<%= provide(:title, sanitize(@post.title)) %>

<%= render 'partials/post_twitter_cards' %>

<% if admin_signed_in? %>
  <%= link_to "Edit Post", edit_category_post_path(@category, @post) %></br>
  <%= link_to "Delete", category_post_path, method: :delete %>
<% end %>

<div class="mobile-only">
  <div class="wrapper">
    <div class="container">
      <div class="site-title title center">
        <%= link_to "FORTNITE BR GUIDE", root_url %>
      </div>
      <div id="menu-click" class="one-space-top center title">
        Menu
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <div class="content-container">
          <div class="front-container">
            <img class="image-border image-clip" srcset="<%= @post.image %>" width="100%" height="auto">
          </div>

          <div class="post-title padding-horizontal">
            <div class="padding-vertical border-bottom">
              <%= @post.title %>
            </div>
          </div>

          <div class="post-content padding-horizontal">
            <%= sanitize(@post.content) %>
          </div>

        </div>
        
        <div class="content-container">
          <%= render 'partials/share_buttons' %>
        </div>

        <div class="no-mobile content-container">
          <div class="padding-horizontal padding-vertical">

            <span class="email_form"><%= render 'partials/emails/email_form_bottom' %></span>

          </div>
        </div>

        <div class="content-container">
          <%= render 'partials/ad_trash' %>
        </div>

      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>

<%= render 'partials/mobile_sidebar' %>