<%= provide(:title, sanitize(@post.title)) %>

<% if admin_signed_in? %>
  <%= link_to "Edit Post", edit_category_post_path(@category, @post) %></br>
  <%= link_to "Delete", category_post_path, method: :delete %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <div class="content-container">
          <div class="front-container">
            <img class="image-border" srcset="<%= @post.image %>" width="100%" height="auto">
          </div>

          <div class="post-title padding-horizontal">
            <div class="padding-vertical border-bottom">
              <%= @post.title %>
            </div>
          </div>

          <div class="post-content padding-horizontal">
            <%= sanitize(@post.content) %>
          </div>

        </div>
      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>