<%= provide(:title, "Categories") %>

<div class="no-mobile wrapper clip">
  <div style="background: url(https://i.imgur.com/6VvV1L3.jpg) no-repeat fixed; background-size: 100%;" class="header-image">
    <div class="header-text title">
      <div class="rotate">
        CATEGORIES
      </div>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
  <%= link_to "Create New Category", new_category_path %></br>
<% end %>

<div class="mobile-only">
  <div class="wrapper">
    <div class="container">
      <div class="site-title title center">
        <%= link_to "FORTNITE BR GUIDE", root_url %>
      </div>
      <div id="menu-click" class="one-space-top center title">
        Menu
      </div>
    </div>
    <img class="one-space-top image-clip" srcset="https://i.imgur.com/6VvV1L3.jpg" width="100%" height="auto">
    <div class="container">
      <div class="two-space-top post-title title center">
        CATEGORIES
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <% @categories.each do |category| %>
          <div class="content-container">
            <div class="one-column">
              <%= link_to(category_path(category)) do %>
                <img class="thumbnail-image" srcset="<%= category.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="padding-horizontal">
                <%= link_to category.title, category_path(category), class: "tiny-text" %>
              </div>
              <div class="post-list-title padding-horizontal">
                <%= link_to category.title, category_path(category) %>
              </div>
              <div class="description-text">
                <%= category.description %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "SEE POSTS...", category_path(category), class: "submit-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>