<%= provide(:title, sanitize(@category.title)) %>

<div class="wrapper clip">
  <div style="background: url(<%= @category.image %>) no-repeat fixed; background-size: 100%;" class="header-image">
    <div class="header-text title">
      <div class="rotate">
        <%= @category.title.upcase %>
      </div>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
  <%= link_to "Create New Post", new_category_post_path(@category) %></br>
  <%= link_to "Edit Category", edit_category_path(@category) %></br>
  <%= link_to "Delete", category_path, method: :delete %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="flex">

      <main class="content">
        <% @posts.each do |post| %>
          <div class="content-container">
            <div class="one-column">
              <%= link_to(category_post_path(@category, post)) do %>
                <img class="thumbnail-image" srcset="<%= post.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="padding-horizontal">
                <%= link_to post.category.title, category_path(post.category), class: "tiny-text" %>
              </div>
              <div class="post-list-title padding-horizontal">
                <%= link_to post.title, category_post_path(post.category.slug, post) %>
              </div>
              <div class="description-text">
                <%= post.description %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "Read More...", category_post_path(post.category.slug, post), class: "submit-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </main>

      <%= render 'partials/sidebar' %>

    </div>
  </div>
</div>